<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BLL.Properties.Settings.QL_NhaSachConnectionString"
            connectionString="Data Source=QUANGNHAT;Initial Catalog=QL_NhaSach;Persist Security Info=True;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>